/*
Theme Name: Old Paper Child
Description: Old Paper Theme
Author: Thunderthemes.net
Template: oldpaper
Version: 1.4
*/


@import url("../oldpaper/style.css");
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

@font-face {
    font-family: 'durselinvenice2015regular';
    src: url('durselinvenice2015.eot');
    src: url('durselinvenice2015.eot?#iefix') format('embedded-opentype'),
         url('durselinvenice2015.woff2') format('woff2'),
         url('durselinvenice2015.woff') format('woff'),
         url('durselinvenice2015.ttf') format('truetype'),
         url('durselinvenice2015.svg#durselinvenice2015regular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@media (min-width: 700px) {
#logo {
height: 135px;
background-image: url('../../uploads/2014/11/banner_agencia_left.png'), url('../../uploads/2014/11/banner_agencia_right.png');
background-position: left top, right top;
background-repeat: no-repeat;
background-color: #a52727;
}
}

@media (max-width: 699px) {
#logo{
height: 135px;
background-color: #a52727;
background-image:none;
}

}


#logo h1, #logo h2{
text-shadow: none;
text-transform: none;
text-decoration:none;
color: white;
position: absolute;
margin: auto;
width: 100%;
}

#logo h1{
top: 20px;
font-family: 'durselinvenice2015regular';
font-size: 2em;
}

#logo h2{
top: 89px;
font-size: .7em;
}

h1, h2, h3, h4 {
font-family: 'Yanone Kaffeesatz', sans-serif;
line-height: 1.0;
}
h4{
font-size: 36px;
}
h3, h4{
font-size: 28px;
color: #015c48;
text-transform: none;
text-align: left !important;
}
h1{
font-size: 48px;
}


.widget h4:before {
border: 0px;
}

.widget h4{
color: #6baf51;
}

section#content #main #featured h2:after{
border: 0;
}

h2{
color: #6baf51;
font-size: 40px;
}

body {
font-family: "Liberation Sans";
color: #1a1a1a;
}

section#content #main #featured p time {
color: #6baf51;
font-weight: normal;
font-size: 12px;
}

.text-center{
text-align: left;
}

a{
color: #015c48;
}

.cat-item a{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 22px;
}

.post-date{
color: #95A5A6;
}

li.cat-item{
list-style:none;
}

section#top {
background: #153d35 url("../../uploads/2014/10/logo_top.png") no-repeat 10px 5px;
color: #FFF;
height: 40px;  
position: fixed;
z-index:100;
width: 100%;
}

@media (max-width: 570px) {
  section#top {
    visibility:hidden;
  }
  header .wrapper{
    padding: 0px;
  }
}

@media (min-width: 571px) {
  header .wrapper{
    padding: 40px 0 0 0;
  }
}

section#top #topmenu {
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 22px;
text-transform: uppercase;
line-height: 0.8;
}

@media (min-width: 790px) {
    section#top {
    background: #153d35 url("../../uploads/2014/10/logo_top.png") no-repeat 125px 5px;}
}

@media (min-width: 768px) and (max-width: 991px) {
  section#top #topmenu {
    padding-left: 170px;
  }
}

@media (min-width: 992px) {
  section#top #topmenu {
    padding-left: 260px;
  }
}

.col-sm-12{
position:inherit;
}


section#top a {
    color: rgba(255, 255, 255, 1);
}

#topmenu.nav{
padding-left: 130px;
}

.widget.widget_search #searchform, section#content #main .wrapper {
border-top: 0px;
}

header .wrapper {
    border: 0px;
    margin: 0px;
}

nav .wrapper{
border:0px;
}

header .wrapper #logo{
border:0px;
position:absolute;
left:0;
width:100%;
}

section#content #main #featured article {
    background-color: #F9F8EF;
    padding: 15px;
}

.col-sm-4{
padding: 0 5px;
}

body {
line-height: 1.4;
}

section#content .wrapper{
border-bottom: 0px;
}

section#content #main .wrapper {
border-bottom: 0px;
}

section#content #main #articlelist .articlebox {
border-bottom: 0px;
}

.textinfo:after{
border-bottom: 0px;
}

section#chess article .info ul li:not(:last-child):after {
content: none;
}

section#chess article a.hover, section#chess article div.hover {
opacity: 0.7;
}

.textinfo {
    padding-bottom: 0px !important;
    margin-bottom: 15px !important;
    margin-top: 10px;
}

section#content #main #articlelist .articlebox {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F9F8EF;
}

section#content article h3, section#content header.topinfo h3 {
    padding: 0px 0px 10px 0px;
}

section#content header.topinfo {
    margin: 10px 20px;
}

nav .wrapper{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 28px;
color: #015c48;
text-transform: lowercase;
margin:0px;
}

nav .wrapper #mainmenu{
border: 0px;
}

nav .wrapper a:hover{
color:#6baf50;
}

nav .wrapper #mainmenu li.menu-item-has-children ul.sub-menu {
    background: #6baf50;
}

nav .wrapper #mainmenu li.menu-item-has-children > a.hover:before{
    border-bottom-color: #6baf50;
}

nav .wrapper #mainmenu li.menu-item-has-children ul.sub-menu > li a{
    color: white;
}
nav .wrapper #mainmenu li.menu-item-has-children ul.sub-menu > li a:hover{
    color: #015c48 !important;
    text-decoration:none;
}

nav .wrapper #mainmenu li.menu-item-has-children > a:after{
    content: none;
}

nav.container{
margin-top:125px;
}

@media (max-width: 767px) {
nav.container{
margin-top:140px;
}

}

section#top .menu-item-home a{
color: #7cd773 !important;
}

section#top a:hover, a:focus {
    color: #7cd773;
}


#top .container .row .col-sm-7 {
width: 80%;
}

#top .container .row .col-sm-5 {
width: 20%;
}




.sub-menu {

  font-size: 20px;
}

nav .wrapper a {
  padding: 10px;
}

.sub-menu li a {
  padding: 0px 40px;
}
.widget_recent_comments {
  text-align: center;
}

.list-inline {
  margin-left: 0px;
}

.widget h4 span {
    background: none ;
    padding: 0px;
    z-index: inherit;
}

section#content header.topinfo h1{
width: 80%;
margin: auto;
font-size: 36px;
}
